@model ProjectManager.ASPMVC.Models.Project.RemoveEmployeeForm

@{
    ViewData["Title"] = "Retirer un employé";
}

<h1>Êtes-vous sûr-e de vouloir enlever @ViewBag.EmployeeName de @ViewBag.ProjectName</h1>
<div>
    
    <form asp-action="RemoveEmployee">
        <input type="submit" value="Retirer du projet" class="btn btn-danger" /> |
        <input type="hidden" asp-for="ProjectId" />
        <input type="hidden" asp-for="EmployeeId" />
        <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.ProjectId">Revenir au projet</a>


    </form>
</div>
