@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Commencez à travailler :</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">Les projets</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Les posts</a>

</div>
